*.log
_*_.tex
*.pyc
Build*
*~
__tmpe
*_temp
lib*a
__pycache__
*.so
Running*
gp*
*mem
.ipynb_checkpoints
*.sage.py
TAGS

JuMicroBenchmarks/.dummy
JuMicroBenchmarks/output_*.txt
**/.vscode

**/__pythran__/*